<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>

    <div class="jumbotron jumbotron-fluid">
        <h1 class="text-center">CONTATTACI</h1>
        <p>Volete dei chiarimenti o avete dei dubbi riguardanti le funzionalità del sito? Non esitate a conttatarci, un operatore vi risponderà nel minor tempo possibile</p>
        <hr>
        <div class="container">
            <form class="" method="POST">
            EMAIL: <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" name="mittente" placeholder="La tua email"><br>
            OGGETTO: <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" name="oggetto" placeholder="cosa ti serve?">
            <br>
            DOMANDA: <br><textarea row="4" class="form-control mb-2 mr-sm-2 mb-sm-0 areatesto" name="contenuto" placeholder="scrivi qui" cols="50"></textarea><br>
            <button type="submit" class="btn btn-primary">INVIA</button>
            </form>
        </div>
    </div>
 <#include "footer.html">

