<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
<!-- PIAZZARE HEADER -->
    <div class="contattaci">
        <h1 class="centro">CONTATTACI</h1>

        <p class="">Volete dei chiarimenti o avete dei dubbi riguardanti le funzionalità del sito? Non esitate a conttatarci, un operatore vi risponderà nel minor tempo possibile</p>
      <hr>
      <form class="">
      EMAIL: <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="La tua email"><br>
      OGGETTO: <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="cosa ti serve?">
      <br>
      DOMANDA: <br><textarea row="4" class="form-control mb-2 mr-sm-2 mb-sm-0 areatesto" placeholder="scrivi qui" cols="50"></textarea><br>
      <button type="submit" class="btn btn-primary">INVIA</button>
      </form>
    </div>
 <#include "footer.html">
 <!-- PIAZZARE IL FOOTER -->
