<!DOCTYPE html>

    <#include "logHeader.html">

        <div class="creanewp">
            <h1 class="">CREA UN NUOVO PROGETTO</h1>
            <p class="testoreg">Crea un nuovo progetto per in modo da offrire lavoro a tutti gli svilupaptori interessati</p>
            <hr>
            <form method="POST">
                <input type="text" name="nome" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="NOME PROGETTO"><br>
                <textarea class="form-control mb-2 mr-sm-2 mb-sm-0 areatesto" name="descrizione" id="inlineFormInputName2" placeholder="DESCRIZIONE"></textarea>
                <br>
     
               
                <br>
                <button type="submit" class="btn btn-primary">VAI AD AGGIUNGERE TASK</button>
            </form>
        </div> <!-- chiusura creap -->
<#include "footer.html">