<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
    <div class="row nomprog">
        <div class="col">
            <h1><center>PROGETTO1</center></h1>

            <hr width="800">
        </div>
    </div>
   
    <div class="row progetto border rounded ml-3 mr-3">
        <div class="col-4">
            <img src="RDC.png" class="rounded-circle imgprofilo mt-4 ml-4">
        </div>     
                <div class="col mt-5">
                <p>
                   
                <b>NOME E COGNOME COORDINATORE:</b> Claudio Morè<br><br>
                <b>DESCRIZIONE PROGETTO:</b> Il progetto "PROGETTO1" nasce per portare a termine un'applicazione per smartphone che permette di ordinare il proprio pranzo o la propria cena comodamente da casa e a portata di un click<br><br>
                <b>NUMERO MEMBRI:</b> 0/5<br><br>
                <b>TASK:</b>                
                </p>

                <ul>
                    <li>grafica(cliccabile)</li>
                    <li>front-end(cliccabile)</li>
                    <li>back-end(cliccabile)</li>
                    <li>database(cliccabile)</li>
                </ul>
                
        </div>
    </div>
    	

  
     <!--footer-->
    <!--<div class="row align-items-end p-2 bg-secondary blocca"> <div class="col"> &copy;Copyright - Claudio Morè & Federico Tersigni</div>-->

<#include "footer.html">