<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
    <div class="row nomprog">
        <div class="col">
            <h1><center>PROGETTO1</center></h1>

            <hr width="800">
        </div>
    </div>
   
    <div class="row progetto border rounded ml-3 mr-3">
        <div class="col-4">
            <img src="RDC.png" class="rounded-circle imgprofilo mt-4 ml-4">
        </div>     
        <div class="col mt-5">
                        
            <#if progettodettaglio ??>
                <#list progettodettaglio as Progetto>
                    <p>Nome del progetto: ${Progetto.getTitolo()}</p>
                    <p>Coordinatore del progetto: ${Progetto.getNomeCoord()}  ${Progetto.getCognomeCoord()}</p>
                    <p>Descrizione del progetto: ${Progetto.getDescrizione()}</p>              
                </#list>
            </#if>
        </div>
        <div class="container">
            <p><b>TASK:</b></p>                
            <#if taskprogetto ??>
                <#list taskprogetto as TaskProgetto>
                    <div class="row">
                        <div class="col-7">${TaskProgetto.getNome()}</div>
                        <div class="col-2">${TaskProgetto.getnumCollaboratori()}</div>
                        <div class="col-2">
                                <#if TaskProgetto.getStato() == true>
                                    In Sviluppo
                                <#else>
                                    Completato
                                </#if>
                        </div>
                    </div>
                </#list>
            </#if>
        </div>
        <!-- SEZIONE DEI COMMENTI DEL PROGETTO! -->
        
        <div class="container">
            <!-- Container dei messaggi presenti nel task -->
            <div class="d-flex flex-column">
                <div class="p-2">
                    <div class="row" style="background-color:grey;">
                        <div class="card border-dark" style="max-width:10rem;">
                            <img class="card-img-top" src="./img/utenteA.png" alt="fotoUtente"/>
                            <div class="card-body">
                                <div class="card-title">
                                  NicknameSvilup
                                </div>

                            </div>
                            <div class="card-footer">
                              <small class="text-muted">10/08/2017 10:53</small>
                            </div>
                        </div>
                    <!-- Fine Carta -->
                        <div class="col-10 text-left mt-3 ">
                            <p>Questa è una prova del messaggio presente nel task da parte di uno dei collaboratori, questo messaggio può essere privato (visibile SOLO a chi collabora per questo task) o semplicemente pubblico, accessibile da ogni utente esterno</p>
                        </div> 
                    </div>
                    <hr><!-- Barra di separazione tra risposte -->
                </div><!-- FINE del primo FLEX (div con classe p-2) -->
                
                <!-- Inizia la parte della creazione della risposta/commento -->
                <form class="">
                    <textarea class="form-control mb-2 mr-sm-2 mb-sm-0 areatesto" id="inlineFormInputName2" placeholder="Scrivi qui la tua risposta"></textarea>
                    <button type="submit" class="btn btn-primary">Rispondi</button>
                </form>
            </div>
        </div>
        <!-- FINE SEZIONE DEI COMMENTI -->
    </div>
<#include "footer.html">