<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
    <div class="row nomprog">
        <div class="col">
            <h1><center>PROGETTO1</center></h1>

            <hr width="800">
        </div>
    </div>
   
    <div class="row progetto border rounded ml-3 mr-3">
        <div class="col-4">
            <img src="RDC.png" class="rounded-circle imgprofilo mt-4 ml-4">
        </div>     
            
                        <div class="col mt-5">
                        
                            <#if progettodettaglio ??>
                                <#list progettodettaglio as Progetto>
                                    <p>Nome del progetto: ${Progetto.getTitolo()}</p>
                                    <p>Coordinatore del progetto: ${Progetto.getNomeCoord()}  ${Progetto.getCognomeCoord()}</p>
                                    <p>Descrizione del progetto: ${Progetto.getDescrizione()}</p>
                                    
                                </#list>
                            </#if>
                        
      
                            <p><b>TASK:</b></p>                
                        

                            <#if taskprogetto ??>
                                <#list taskprogetto as TaskProgetto>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-7">${TaskProgetto.getNome()}</div>
                                            <div class="col-2">${TaskProgetto.getnumCollaboratori()}</div>
                                            <div class="col-2">
                                                <#if TaskProgetto.getStato() == true>
                                                    In Sviluppo
                                                <#else>
                                                    Completato
                                                </#if>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </#list>
                            </#if>
                            <!-- Da aggiungere nomi task -->
                
        </div>
    </div>
    	

  
     <!--footer-->
    <!--<div class="row align-items-end p-2 bg-secondary blocca"> <div class="col"> &copy;Copyright - Claudio Morè & Federico Tersigni</div>-->

<#include "footer.html">