<!DOCTYPE html>
    <#include "logHeader.html">

        <div class="creanewp">
            <h1 class="">LISTA TASK DEL PROGETTO</h1>
            <p class="testoreg">Scegli un task da modificare</p>
            <hr>
            <form method="POST" action="elimina2">
                <select name="task">
                    <#if listatask ??>
                    <#list listatask as ListaTask>
                    <option name="task" value="${ListaTask.numCollaboratori}">${ListaTask.descrizione}</option>
                    </#list>
                    </#if>
                </select>
            
                <button type="submit" name="value" value="elcol" class="btn btn-primary">VAI AD ELIMINARE UN COLLABORATORE</button>
                
            </form>
        </div> <!-- chiusura creap -->
<#include "footer.html">
