<!DOCTYPE html>
    <#include "logHeader.html">
    <div class="jumbotron">
        <div class="jumbotron-fluid">
            <h1 class="">LISTA TASK DEL PROGETTO</h1>
            <p class="testoreg">Scegli un task da modificare</p>
            <hr>
            <#if listatask ??>
            <form method="POST" action="elimina2">
                 
                <select name="task">
                   
                    <#list listatask as ListaTask>
                    <option name="task" value="${ListaTask.numCollaboratori}">${ListaTask.descrizione}</option>
                    </#list>
                    <button type="submit" name="value" value="elcol" class="btn btn-primary">VAI AD ELIMINARE UN COLLABORATORE</button>
                    
                    
                </select>
          
                
            </form>
                   <#else>
                    <p><b>I TASK SONO TUTTI VUOTI</b></p>
            </#if>
                
        </div>
    </div>
<#include "footer.html">
