<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>

    <!-- Parte di "descrizione" della pagina, descrizione pagina -->
    <div class="jumbotron jumbotron-fluid">
        <!-- inizio PROVA -->
        <!-- Qui provo a usare le librerie: funzionano messe così -->    
        <!-- FINE PROVA -->
        
      <div class="container-fluid no-padding">
        <div class="row">
          <div class="col-4">
                <img src="template/img/LOGO_SD.png" class="logo-big"/>
          </div>
          <div class="col-8 display-7 ">
                <h2>Benvenuti in SocialDevelop!</h2>
                <br>
                <h5>Questa piattaforma permette di pubblicizzare idee di sviluppo e di individuare gli sviluppatori freelance più adatti per renderle realtà!
                <br>
                Sfogliate la lista dei progetti in corso di sviluppo e iscrivetevi per poter avere la possibilità di essere invitati a lavorare per uno o più dei progetti presenti nel sito!
                </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <!-- Container delle cards -->
        <div class="card-deck">
          
            <!-- Inizio "Mazzo" di carte -->
                   <div class="container">
                       <center><div class="row">
                           <p><b>ULTIMI 10 PROGETTI CREATI</b></p>
                           </div></center>
            <!-- bisogna decorarla! -->
            <div class="list-group">
                <form method="post" role="form">
                    <#if progetti ??>
                        <#list progetti as Progetto>
                        <div class="list-group-item container">
                            <div class="row">

                                <p class="text-center col-2 my-auto">${Progetto.titolo}</p>
                                <p class="col-7 my-auto" style="overflow: hidden; text-overflow: ellipsis;">${Progetto.descrizione}</p>
                                <p class="col-2 my-auto" style="color: green;">Data Creazione</p>
                                
                                
                                <button type="submit" class="btn btn-outline-primary col-1" name="dettagli" value="${Progetto.id}"> Entra -> </button>
                                
                                <input type="hidden" name="value"  value="d_progetto">
                            </div>

                        </div>
                        <!--Collaboratori/Limite Massimo: Numero di collaboratori presenti / Numero massimo di collaboratori disponibili. Potrebbe essere 
                        sostituito dalla scritta "full" in rosso quando il numero dei collaboratori è uguale al limite massimo. La scritta poi è in verde se
                        il numero dei collaboratori è minore del limite massimo-->

                        </#list>
                    </#if>
                </form>

            </div>
           
    </div>
           
        <!-- fine carta --> 
        </div>
    </div>
    
    
    <!-- fine primo mazzo di carte -->
    <br>
<!-- SCRIPT di prova! -->

<#include "footer.html">


     