<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>

    <!-- Parte di "descrizione" della pagina -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-7">Progetti</h1>
        <p class="lead">Questa è una lista dei progetti in via di sviluppo sulla nostra piattaforma.</p>
      </div>
    </div>

    <div class="container">
            <div>
                <p class="text-center">Progetti In Corso</p>
            </div>
            <!-- bisogna decorarla! -->
            <div class="list-group">
                <form method="post" role="form">
                    <#if progetti ??>
                        <#list progetti as Progetto>
                        <div class="list-group-item container">
                            <div class="row">

                                <p class="text-center col-2 my-auto">${Progetto.titolo}</p>
                                <p class="col-7 my-auto" style="overflow: hidden; text-overflow: ellipsis;">${Progetto.descrizione}</p>
                                <p class="col-2 my-auto" style="color: green;">Data Creazione</p>
                                
                                
                                <a href="dettagliProgetto" class="btn btn-outline-primary col-1"> Entra -> </a>
                                <input type="hidden" name="dettagli" value="${Progetto.id}">
                                <input type="hidden" name="value"  value="d_progetto" >
                            </div>

                        </div>
                        <!--Collaboratori/Limite Massimo: Numero di collaboratori presenti / Numero massimo di collaboratori disponibili. Potrebbe essere 
                        sostituito dalla scritta "full" in rosso quando il numero dei collaboratori è uguale al limite massimo. La scritta poi è in verde se
                        il numero dei collaboratori è minore del limite massimo-->

                        </#list>
                    </#if>
                </form>

            </div>
            <div>
                <p class="text-center">Progetti Finiti</p>
            </div>
    </div> <!-- /container -->
      <!-- fine secondo mazzo di carte -->
    <script>
        
          // Javascript: Mi serve per rimandarmi al dettaglio del progetto specifico che ho cliccato in questa lista
          /*
            var x = document.getElementsByClassName("riga");
            
            for(i=0;i<2; i++){
                x[i].addEventListener("click",mouseScript);
            }

            function mouseScript(event){
                console.log("EVENTO?");
                console.log(event.target);
                var y = event.target.parentNode.innerHTML;
                console.log("ECCOLO >> " + y);
            }
          console.log("PROVA!!!!!");*/
    </script>


    <#include "footer.html">