<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>

    <!-- Parte di "descrizione" della pagina -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-7">13 Progetti trovati per "Stringa"</h1>
        
      </div>
    </div>

    <div class="container">
      <!-- Container delle cards -->
      <div class="card-deck">
        <!-- Inizio "Mazzo" di carte -->
        <div class="card"> <!-- card-img-top 277x180 -->
          <img class="card-img-top" src="./img/anteprima.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Nome Progetto 1</h4>
            <p class="card-text">Descrizione riassuntiva del progetto dove si parla in generale di cosa si vuole fare e accenni su altre caratteristiche del progetto.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./img/anteprima.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Nome Progetto 2</h4>
            <p class="card-text">Descrizione riassuntiva del progetto dove si parla in generale di cosa si vuole fare e accenni su altre caratteristiche del progetto.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./img/anteprima.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Nome Progetto 3</h4>
            <p class="card-text">Descrizione riassuntiva. Questo messaggio è corto di proposito.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <!-- fine carta --> 
      </div>
      <!-- fine primo mazzo di carte -->
      <br>
      <div class="card-deck">
        <!-- Inizio "Mazzo" di carte -->
        <div class="card"> <!-- card-img-top 277x180 -->
          <img class="card-img-top" src="./img/anteprima.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Nome Progetto 1</h4>
            <p class="card-text">Descrizione riassuntiva del progetto dove si parla in generale di cosa si vuole fare e accenni su altre caratteristiche del progetto.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./img/anteprima.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Nome Progetto 2</h4>
            <p class="card-text">Descrizione riassuntiva del progetto dove si parla in generale di cosa si vuole fare e accenni su altre caratteristiche del progetto.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./img/anteprima.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Nome Progetto 3</h4>
            <p class="card-text">Descrizione riassuntiva. Questo messaggio è corto di proposito.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <!-- fine carta --> 
      </div>
      <!-- fine secondo mazzo di carte -->



<#include "footer.html">