<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
<!-- Jumbotron che copre tutto + 2 riquadri per i tipi di richiesta + Riquadri all'interno dei riquadri che simboleggiano le richieste -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4 class="text-center"> PANNELLO INVITI </h4>
        <div class="col-12 bg-info req_container" id="req_tab">
                    <#if nomeprogetto ??>
                    <#if nometask ??>
                    <#if tipo ??>
                    
                <#list tipo as Tipo>
                <#if Tipo.tipo == false>
                    <div class="alert alert-dark clearfix" role="alert">
                    
                        <img src="..." alt="..." class="rounded-0 d-inline-block">
                        <#list nomeprogetto as NomeProgetto>${NomeProgetto.titolo}</#list> <a href="#" class="alert-link"> </a>.<br>
                      <#list nometask as NomeTask>${NomeTask.nome}/</#list> <a href="#" class="alert-link"> </a>.
                   
                    </div>
                </#if>
             </#list>
                  
   
      </#if> </#if> </#if> 
      
           
        </div>
        <h4 class="text-center"> PANNELLO DOMANDE </h4>
        <div class="col-12 bg-danger req_container" id="req_tab">
            
             <#if nomeprogetto ??>
                    <#if nometask ??>
                    <#if tipo ??>
                     <#list tipo as Tipo>
                  <#list nomeprogetto as NomeProgetto>
                  <#list nometask as NomeTask>
                   
                    <#if Tipo.tipo == true>
                    <div class="alert alert-dark clearfix" role="alert">
                        <img src="..." alt="..." class="rounded-0 d-inline-block">
                        ${NomeProgetto.titolo}<a href="#" class="alert-link">${NomeTask.nome}</a>
                    </div>
             </#if>
      </#list></#list></#list>
      </#if> </#if> </#if> 
        
    </div>


</div>
<#include "footer.html">