<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
<!-- panRichieste si riferisce primariamente agli SVILUPPATORI -->
<div class="jumbotron jumbotron-fluid">
    <#if isCoordinator==true>
        
            <a class="btn btn-primary " href="panRichCoord" title="PanRichCoord"> Coordinatore > </a>
            
    </#if>
    
    <div class="container">
        <h4 class="text-center"> Offerte </h4>
        <div class="col-12 bg-info req_container" id="req_tab">
            <#if offerte ??>
                <#list offerte as Richieste>
                    <div class="alert alert-dark clearfix" role="alert">
                        <div class="d-inline-block float-left">${Richieste.getProgTitolo()} / ${Richieste.getTaskNome()} / ${Richieste.getSkillNome()} </div> 
                        <!-- SE esiste questa stessa richiesta mandata dallo stesso sviluppatore, mostra ANNULLA OFFERTA -->
                        <form class="d-inline-block float-right" method="post" role="form">
                            <button type="submit" class="btn btn-primary " name="inviaOfferta" value=""> INVIA OFFERTA </button>
                            <input type="hidden" name="value"  value="insertOfferta"> 
                            
                            <button type="submit" class="btn btn-danger " name="cancellaOfferta" value=""> ANNULLA </button>
                            <input type="hidden" name="value"  value="deleteOfferta"> 
                        </form>
                    </div>
                </#list>
            </#if>
        </div>
        <h4 class="text-center"> Proposte </h4>
        <div class="col-12 bg-info req_container" id="req_tab">
            <#if proposte ??>
                <#list proposte as Richieste>
                    <div class="alert alert-dark clearfix" role="alert">
                        <div class="d-inline-block float-left">Sei stato invitato in "${Richieste.getProgTitolo()}" per collaborare in " ${Richieste.getTaskNome()} / ${Richieste.getSkillNome()}". </div> 
                       
                        <form class="d-inline-block float-right" method="post" role="form">
                            <button type="submit" class="btn btn-primary " name="accettaProposta" value=""> ACCETTA</button>
                            <input type="hidden" name="value"  value=""> 
                            <button type="submit" class="btn btn-danger " name="rifiutaProposta" value=""> RIFIUTA </button>
                            <input type="hidden" name="value"  value=""> 
                        </form>
                    </div>
                </#list>
            </#if>
        </div>
        
        
    </div>
</div>
<#include "footer.html">