<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
<!-- panRichieste si riferisce primariamente agli SVILUPPATORI -->
<div class="jumbotron jumbotron-fluid">
        <a class="btn btn-primary " href="panRichieste" title="PanRichieste"> Sviluppatore > </a>
    
    <div class="container">
        <h4 class="text-center"> Inviti </h4>
        <div class="col-12 bg-info req_container" id="req_tab">
            <#if inviti ??>
                <#list inviti as Richieste>
                    <div class="alert alert-dark clearfix" role="alert">
                        <div class="d-inline-block float-left"> Hai invitato ${Richieste.getNomeSvil()} ${Richieste.getCognSvil()} a partecipare in ${Richieste.getProgTitolo()}/ ${Richieste.getTaskNome()} / ${Richieste.getSkillNome()} </div> 
                        <form class="d-inline-block float-right" method="post" role="form">
                            <!-- manca if -->
                            <button type="submit" class="btn btn-danger " name="cancellaInvito" value=""> Annulla </button>
                            <input type="hidden" name="value"  value="deleteOfferta"> 
                            <input type="hidden" name="sviluppatore"  value="${Richieste.getIdSviluppatore()}"> 
                            <input type="hidden" name="coordinatore"  value="${Richieste.getIdCoordinatore()}"> 
                            <input type="hidden" name="taskprog"  value="${Richieste.getIdTaskProgetto()}"> 
                        </form>
                    </div>
                </#list>
            </#if>
        </div>
        <h4 class="text-center"> Domande </h4>
        <div class="col-12 bg-info req_container" id="req_tab">
            <#if domande ??>
                <#list domande as Richieste>
                    <div class="alert alert-dark clearfix" role="alert">
                        <div class="d-inline-block float-left">Hai ricevuto una richiesta di collaborazione da ${Richieste.getNomeSvil()} ${Richieste.getCognSvil()} per ${Richieste.getProgTitolo()}/ ${Richieste.getTaskNome()} / ${Richieste.getSkillNome()}. </div> 
                        <div class="d-inline-block float-right row">
                            <#if Richieste.getEccesso() == 0>
                                <form method="post" role="form">
                                    <button type="submit" class="btn btn-primary col-12" name="accettaProposta" value=""> ACCETTA</button>
                                    <input type="hidden" name="value"  value="Accetta"> 
                                    <input type="hidden" name="sviluppatore"  value="${Richieste.getIdSviluppatore()}"> 
                                    <input type="hidden" name="coordinatore"  value="${Richieste.getIdCoordinatore()}"> 
                                    <input type="hidden" name="taskprog"  value="${Richieste.getIdTaskProgetto()}"> 
                                </form>
                            <#else>
                                <button class="d-inline-block float-right btn btn-light" name="maxCapacity" value="">LIMITE MASSIMO COLLABORATORI</button>
                            </#if>
                            <form method="post" role="form">
                                    <button type="submit" class="btn btn-danger col-12" name="rifiutaProposta" value=""> RIFIUTA </button>
                                    <input type="hidden" name="value"  value="deleteOfferta"> 

                                    <input type="hidden" name="sviluppatore"  value="${Richieste.getIdSviluppatore()}"> 
                                    <input type="hidden" name="coordinatore"  value="${Richieste.getIdCoordinatore()}"> 
                                    <input type="hidden" name="taskprog"  value="${Richieste.getIdTaskProgetto()}"> 
                            </form>
                        </div>
                    </div>
                </#list>
            </#if>
        </div>
        
        
    </div>
</div>
<#include "footer.html">