<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
<!-- panRichieste si riferisce primariamente agli SVILUPPATORI -->
<div class="jumbotron jumbotron-fluid">
    <form method="post" role="form">
        <button type="submit" class="btn btn-primary " name="PannelloCoordinatore" value=""> Coordinatore > </button>
        <input type="hidden" name="value"  value=""> 
    </form>
    
    <div class="container">
        <h4 class="text-center"> Offerte </h4>
        <div class="col-12 bg-info req_container" id="req_tab">
            <#if offerte ??>
                <#list offerte as Richieste>
                    <div class="alert alert-dark clearfix" role="alert">
                        <div class="d-inline-block float-left">${Richieste.getProgTitolo()} / ${Richieste.getTaskNome()} / ${Richieste.getSkillNome()} </div> <h4 class="d-inline-block float-right"> DISPONIBILE </h4>
                    </div>
                </#list>
            </#if>
        </div>
        <h4 class="text-center"> Proposte </h4>
        <div class="col-12 bg-info req_container" id="req_tab">
            <#if proposte ??>
                <#list proposte as Richieste>
                    <div class="alert alert-dark clearfix" role="alert">
                        <div class="d-inline-block float-left">Sei stato invitato in "${Richieste.getProgTitolo()}" per collaborare in " ${Richieste.getTaskNome()} / ${Richieste.getSkillNome()}". </div> 
                       
                        <form class="d-inline-block float-right" method="post" role="form">
                            <button type="submit" class="btn btn-primary " name="inviaProposta" value=""> ACCETTA/RIFIUTA </button>
                            <input type="hidden" name="value"  value=""> 
                        </form>
                    </div>
                </#list>
            </#if>
        </div>
        
        
    </div>
</div>
<#include "footer.html">