<#include "headerbe.html">


        <div class="container contenitore">
            <div class="row">
                <div class="col">
                    <h2>TASK</h2>
                    
                    
                    <!--<ul>
                        <#if task ??>
                    <#list task as Task>
                       <li>${Task.nome}</li>
                       </#list>
                       </#if>
                    </ul>-->
                    
                
                
                       
                
                
                    <form method="POST">
                   
                        <select name="idtask">
                                 <#if task ??>
                    <#list task as Task>
                            <option  value="${Task.id}">${Task.id}-${Task.nome}</option>
                            </#list>
                       </#if>
                      
                        </select>
                        <input type="hidden" name="valore" value="taskscelto">
                        <button type="submit" class="btn btn-primary">SCEGLI</button>
                    </form>
                </div>
            </div>
        
        
        
        
        
        
        
        
       <#include "footer.html">