<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
    <!-- Parte di "descrizione" della pagina -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-8">
                <h2 class="font-weight-bold text-left">Progetto Specifico > Nome Task</h2>
                <p class="text-left">Descrizione del task specifico di quel determinato progetto. Questa descrizione esprime quali tipi di azioni e di lavori bisogna fare per completare questo specifico task appartenente ad uno specifico progetto. Al lato della task ci sono due informazioni aggiuntive che sono il numero dei collaboratori e la scadenza prefissata.</p>
            </div>
            <div class="col-4">
              
                <p class="text-right font-italic">Creato il gg/mm/aaaa, Scadenza il gg/mm/aaaa<br>
                Numero dei collaboratori: 5
                </p>
            </div>
        </div>
    </div>

    <div class="container">
      <!-- Container dei messaggi presenti nel task -->
      <div class="d-flex flex-column">

        <div class="p-2">
          <div class="row" style="background-color:grey;">
            <div class="card border-dark" style="max-width:10rem;">
                <img class="card-img-top" src="./img/utenteA.png" alt="fotoUtente"/>
                <div class="card-body">
                    <div class="card-title">
                      NicknameSvilup
                    </div>

                </div>
                <div class="card-footer">
                  <small class="text-muted">10/08/2017 10:53</small>
                </div>
            </div>
            <!-- Fine Carta -->
            <div class="col-10 text-left mt-3 ">
                <p>Questa è una prova del messaggio presente nel task da parte di uno dei collaboratori, questo messaggio può essere privato (visibile SOLO a chi collabora per questo task) o semplicemente pubblico, accessibile da ogni utente esterno</p>
            </div> 
          </div>
          <hr><!-- Barra di separazione tra risposte -->
        </div><!-- FINE del primo FLEX (div con classe p-2) -->
        <div class="p-2">
          <div class="row" style="background-color:grey;">
            <div class="card border-dark" style="max-width:10rem;">
                <img class="card-img-top" src="./img/utenteA.png" alt="fotoUtente"/>
                <div class="card-body">
                    <div class="card-title">
                      NicknameSvilup
                    </div>

                </div>
                <div class="card-footer">
                  <small class="text-muted">10/08/2017 10:53</small>
                </div>
            </div>
            <!-- Fine Carta -->
            <div class="col-10 text-left mt-3 ">
                <p>Questa è una prova del messaggio presente nel task da parte di uno dei collaboratori, questo messaggio può essere privato (visibile SOLO a chi collabora per questo task) o semplicemente pubblico, accessibile da ogni utente esterno</p>
            </div> 
          </div>
          <hr><!-- Barra di separazione tra risposte -->
        </div><!-- FINE del primo FLEX (div con classe p-2) -->
        <div class="p-2">
          <div class="row" style="background-color:grey;">
            <div class="card border-dark" style="max-width:10rem;">
                <img class="card-img-top" src="./img/utenteA.png" alt="fotoUtente"/>
                <div class="card-body">
                    <div class="card-title">
                      NicknameSvilup
                    </div>

                </div>
                <div class="card-footer">
                  <small class="text-muted">10/08/2017 10:53</small>
                </div>
            </div>
            <!-- Fine Carta -->
            <div class="col-10 text-left mt-3 ">
                <p>Questa è una prova del messaggio presente nel task da parte di uno dei collaboratori, questo messaggio può essere privato (visibile SOLO a chi collabora per questo task) o semplicemente pubblico, accessibile da ogni utente esterno</p>
            </div> 
          </div>
          <hr><!-- Barra di separazione tra risposte -->
        </div><!-- FINE del primo FLEX (div con classe p-2) -->
        <!-- Inizia la parte della creazione della risposta/commento -->
        <form class="">
            <textarea class="form-control mb-2 mr-sm-2 mb-sm-0 areatesto" id="inlineFormInputName2" placeholder="Scrivi qui la tua risposta"></textarea>
            <button type="submit" class="btn btn-primary">Rispondi</button>
        </form>

        
      </div>
    </div> 

    <#include "footer.html">