<!DOCTYPE html>
<#if id == 0>
    <#include "header.html">
<#else>
    <#include "logHeader.html">
</#if>
    <!-- Parte di "descrizione" della pagina -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-8">
                <h2 class="font-weight-bold text-left">Progetto Specifico > Nome Task</h2>
                <p class="text-left">Descrizione del task specifico di quel determinato progetto. Questa descrizione esprime quali tipi di azioni e di lavori bisogna fare per completare questo specifico task appartenente ad uno specifico progetto. Al lato della task ci sono due informazioni aggiuntive che sono il numero dei collaboratori e la scadenza prefissata.</p>
            </div>
            <div class="col-4">
              
                <p class="text-right font-italic">Creato il gg/mm/aaaa, Scadenza il gg/mm/aaaa<br>
                Numero dei collaboratori: 5
                </p>
            </div>
        </div>
    </div>

     

    <#include "footer.html">